.parallex{
    background-image:url("image.jpeg");
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    min-height:500px;
    min-width:100%;
}

.parallex1{
    background-image:url("image2.jpeg");
    background-size:cover;
    background-attachment: fixed;
    min-height:500px;
    min-width:100%;
}